<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>CNY</string>
		<key>name</key>
		<string>人民币</string>
	</dict>
	<dict>
		<key>code</key>
		<string>USD</string>
		<key>name</key>
		<string>美元</string>
	</dict>
	<dict>
		<key>code</key>
		<string>JPY</string>
		<key>name</key>
		<string>日元</string>
	</dict>
	<dict>
		<key>code</key>
		<string>EUR</string>
		<key>name</key>
		<string>欧元</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GBP</string>
		<key>name</key>
		<string>英镑</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KRW</string>
		<key>name</key>
		<string>韩元</string>
	</dict>
	<dict>
		<key>code</key>
		<string>HKD</string>
		<key>name</key>
		<string>港币</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AUD</string>
		<key>name</key>
		<string>澳大利亚元</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CAD</string>
		<key>name</key>
		<string>加拿大元</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DZD</string>
		<key>name</key>
		<string>阿尔及利亚第纳尔</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ARS</string>
		<key>name</key>
		<string>阿根廷比索</string>
	</dict>
	<dict>
		<key>code</key>
		<string>EGP</string>
		<key>name</key>
		<string>埃及镑</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AED</string>
		<key>name</key>
		<string>阿联酋迪拉姆</string>
	</dict>
	<dict>
		<key>code</key>
		<string>OMR</string>
		<key>name</key>
		<string>阿曼里亚尔</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MOP</string>
		<key>name</key>
		<string>澳门元</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BYR</string>
		<key>name</key>
		<string>白俄罗斯卢布</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BHD</string>
		<key>name</key>
		<string>巴林第纳尔</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BGN</string>
		<key>name</key>
		<string>保加利亚列弗</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BRL</string>
		<key>name</key>
		<string>巴西雷亚尔</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ISK</string>
		<key>name</key>
		<string>冰岛克朗</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PLN</string>
		<key>name</key>
		<string>波兰兹罗提</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DKK</string>
		<key>name</key>
		<string>丹麦克朗</string>
	</dict>
	<dict>
		<key>code</key>
		<string>RUB</string>
		<key>name</key>
		<string>俄罗斯卢布</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PHP</string>
		<key>name</key>
		<string>菲律宾比索</string>
	</dict>
	<dict>
		<key>code</key>
		<string>COP</string>
		<key>name</key>
		<string>哥伦比亚比索</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CRC</string>
		<key>name</key>
		<string>哥斯达黎加科朗</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KHR</string>
		<key>name</key>
		<string>柬埔寨瑞尔</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CZK</string>
		<key>name</key>
		<string>捷克克朗</string>
	</dict>
	<dict>
		<key>code</key>
		<string>QAR</string>
		<key>name</key>
		<string>卡塔尔里亚尔</string>
	</dict>
	<dict>
		<key>code</key>
		<string>HRK</string>
		<key>name</key>
		<string>克罗地亚库纳</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KES</string>
		<key>name</key>
		<string>肯尼亚先令</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KWD</string>
		<key>name</key>
		<string>科威特第纳尔</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LAK</string>
		<key>name</key>
		<string>老挝基普</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CNH</string>
		<key>name</key>
		<string>离岸人民币</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LBP</string>
		<key>name</key>
		<string>黎巴嫩镑</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MYR</string>
		<key>name</key>
		<string>林吉特</string>
	</dict>
	<dict>
		<key>code</key>
		<string>RON</string>
		<key>name</key>
		<string>罗马尼亚列伊</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MXN</string>
		<key>name</key>
		<string>墨西哥元</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ZAR</string>
		<key>name</key>
		<string>南非兰特</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NOK</string>
		<key>name</key>
		<string>挪威克朗</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SEK</string>
		<key>name</key>
		<string>瑞典克朗</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CHF</string>
		<key>name</key>
		<string>瑞士法郎</string>
	</dict>
	<dict>
		<key>code</key>
		<string>RSD</string>
		<key>name</key>
		<string>塞尔维亚第纳尔</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SAR</string>
		<key>name</key>
		<string>沙特里亚尔</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LKR</string>
		<key>name</key>
		<string>斯里兰卡卢比</string>
	</dict>
	<dict>
		<key>code</key>
		<string>THB</string>
		<key>name</key>
		<string>泰国铢</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TZS</string>
		<key>name</key>
		<string>坦桑尼亚先令</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BND</string>
		<key>name</key>
		<string>文莱元</string>
	</dict>
	<dict>
		<key>code</key>
		<string>UGX</string>
		<key>name</key>
		<string>乌干达先令</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SGD</string>
		<key>name</key>
		<string>新加坡元</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TWD</string>
		<key>name</key>
		<string>新台币</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TRY</string>
		<key>name</key>
		<string>新土耳其里拉</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NZD</string>
		<key>name</key>
		<string>新西兰元</string>
	</dict>
	<dict>
		<key>code</key>
		<string>HUF</string>
		<key>name</key>
		<string>匈牙利福林</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SYP</string>
		<key>name</key>
		<string>叙利亚镑</string>
	</dict>
	<dict>
		<key>code</key>
		<string>IQD</string>
		<key>name</key>
		<string>伊拉克第纳尔</string>
	</dict>
	<dict>
		<key>code</key>
		<string>INR</string>
		<key>name</key>
		<string>印度卢比</string>
	</dict>
	<dict>
		<key>code</key>
		<string>IDR</string>
		<key>name</key>
		<string>印尼卢比</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ILS</string>
		<key>name</key>
		<string>以色列新锡克尔</string>
	</dict>
	<dict>
		<key>code</key>
		<string>JOD</string>
		<key>name</key>
		<string>约旦第纳尔</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VND</string>
		<key>name</key>
		<string>越南盾</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CLP</string>
		<key>name</key>
		<string>智利比索</string>
	</dict>
</array>
</plist>
